*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    width: 100%;
    background: #3d3d3d;
}

/*Navigation starts*/

nav{
    animation: nav-load 1500ms ease-in;
}

.navbar-brand{
    font-family: 'Berkshire Swash', cursive;
    letter-spacing: 3px;
    font-size: 24px;
}

.navbar-nav{
    letter-spacing: 2px;
    font-size: 18px;
}

.active{
    font-family: 'Berkshire Swash', cursive;
}

/*Navigations ends*/

.image {
    background-image: url("../img/background-2.03736f3f5321.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1.0;
    min-height: 100vh;
    max-height: 100%;
    animation: background-load 800ms ease-in;
}

.intro{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.align-intro{
    text-align: center;
}

.intro-img{
    width: 250px;
    border-radius: 50%;
    border: 2px solid gold;
    animation: img-load 1500ms ease-in;
}

.intro-content{
    animation: intro-content-load 1500ms ease-in;
}

.intro h1{
    font-size: 48px;
}

.intro-last-name{
    color: gold;
}

.intro p{
    font-size: 24px;
}

.intro-link a{
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.intro-link a:hover{
    background-color: rgba(255, 215, 0, 0.8);
}


@media screen and (max-width: 768px) {
    .image{
        animation: background-load 800ms ease-in;
    }

    .intro-img{
        width: 65%;
        animation: img-load 1500ms ease-in;
    }

    .intro h1,p{
        text-align: center;
    }

    .intro-content{
        animation: intro-content-load 1500ms ease-in;
    }

    .intro-link{
        text-align: center;
    }

  }

@keyframes background-load{
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes nav-load{
    0%{
        transform: translateY(10000%);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes img-load{
    0%{
        transform: translateX(200%);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes intro-content-load{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}