*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    width: 100%;
    background: #3d3d3d;
}

/*Navigation starts*/

nav{
    animation: nav-load 1500ms ease-in;
}

.navbar-brand{
    font-family: 'Berkshire Swash', cursive;
    letter-spacing: 3px;
    font-size: 24px;
}

.navbar-nav{
    letter-spacing: 2px;
    font-size: 18px;
}

.active{
    font-family: 'Berkshire Swash', cursive;
}

/*Navigations ends*/

.image {
    background-image: url("../img/background-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1.0;
    min-height: 100vh;
    max-height: 100%;
    animation: background-load 800ms ease-in;
}

.intro{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.align-intro{
    text-align: center;
}

.intro-img{
    width: 250px;
    border-radius: 50%;
    border: 2px solid gold;
    animation: img-load 1500ms ease-in;
}

.intro-content{
    animation: intro-content-load 1500ms ease-in;
}

.intro h1{
    font-size: 48px;
}

.intro-last-name{
    color: gold;
}

.intro p{
    font-size: 24px;
}

.intro-link a{
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.intro-link a:hover{
    background-color: rgba(255, 215, 0, 0.8);
}

/*about start*/

.about{
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 2px solid gold;
    animation: about 3000ms ease-in;
}

.about h1{
    font-size: 48px;
    color: gold;
    font-family: 'Permanent Marker', cursive;
}

.about p{
    font-size: 24px;
}

.about li{
    list-style: none;
    font-size: 24px;
}

.bio{
    animation: bio-load 1500ms ease-in;
    border-bottom: 2px solid gold;
}

.education{
    animation: edu-load 1500ms ease-in;
    border-bottom: 2px solid gold;
}

.accomplishment{
    animation: acc-load 1500ms ease-in;
}

/*about end */

/* work start */

.work{
    margin-top: 5vh;
    color: black;
    margin-bottom: 5vh;
    animation: work-load 1500ms ease-in;
}

.work h1{
    color: white;
    font-size: 48px;
    margin-bottom: 3vh;
}

.work .card{
    margin-top: 1vh;
}

.work-date{
    text-align: left;
}

.card-text{
    text-align: left;
}

/*work end */

/*Project start*/

.project{
    margin-bottom: 5vh;
    animation: project-load 1500ms ease-in;
}

.project .card{
    margin-top: 1vh;
    color: black;
}

/*Project end*/

/*contact start*/

.contact{
    margin-top: 5vh;
    margin-bottom: 5vh;
    animation: contact-load 1500ms ease-in;
}

.contact h1{
    font-size: 48px;
}

/*contact end*/

.submit-img{
    animation-name: stretch; 
    animation-duration: 2.0s; 
    animation-timing-function: ease-out; 
    animation-direction: alternate; 
    animation-iteration-count: infinite; 
    animation-play-state: running; 
}


@media screen and (max-width: 768px) {
    .image{
        animation: background-load 800ms ease-in;
    }

    .intro-img{
        width: 65%;
        animation: img-load 1500ms ease-in;
    }

    .intro h1,p{
        text-align: center;
    }

    .intro-content{
        animation: intro-content-load 1500ms ease-in;
    }

    .intro-link{
        text-align: center;
    }

    .about h1{
        font-size: 32px;
        text-align: center;
    }

    .about p{
        font-size: 18px;
    }

    .about li{
        margin-bottom: 3px;
        font-size: 18px;
    }

    .submit-img{
        width: 65%;
    }

  }


@keyframes background-load{
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes nav-load{
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes img-load{
    0%{
        transform: translateX(200%);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes intro-content-load{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes about{
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes bio-load{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes edu-load{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes acc-load{
    0%{
        transform: translateY(-1000%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes work-load{
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes project-load {
    from {
      transform: scale(2);
    }
    to {
      transform: scale(1);
    }
  }

@keyframes contact-load {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes stretch { 
    0% { 
        transform: scale(.5); 
        border-radius: 100%; 
    } 

    100% { 
        transform: scale(2.0); 
    } 
} 