{% extends 'base.html' %}
{% load static %}

{% block title %}
    | About
{% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <div class = "container about">
        <div class = "bio">
            <h1>Bio</h1>
            <p>Passionate about <strong>Data Science, Machine Learning, Web Development.</strong> Loves to code and to come up with different algorithms and techniques for approaching and solving a problem.
            Have a genuine interest in Learning everyday and improve technically and in general life. Other interest also Includes chess and cricket.
            </p>
        </div>
        <div class = "education">
            <h1>Education</h1>
            <p>I started my academics in Puri, Odisha at <strong>Blessed Sacrament High School</strong>, and completed my metriculation there.
            Then I studied at <strong>D.A.V. Public School</strong> Unit 8, Bhubaneswar and completed my Intermediate here in Science stream.
            Currently I am pursuing my B.tech from <strong>National Institute of Technology, Rourkela</strong> in Electrical Engineering stream.
            </p>
        </div>
        <div class = "accomplishment">
            <h1>Accomplishments</h1>
            <ul>
                <li> Completed Tensorflow Developer Specialization offered by Coursera.</li>
                <li> Secured 3rd position in a Kaggle competition on "Sentiment Analysis of Twitter" organized by IIT Kanpur</li>
                <li> Passed the HackerRank skill Certification test in Python and Problem Solving.</li>
                <li> Secured five star badge on the HackerRank Platform in Python and Problem Solving.</li>
                <li> Passed the LinkedIn skill certification test in Python, JavaScript, HTML, and, C Programming Language.</li>
            </ul>
        </div>
    </div>
{% endblock %}